@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Edu+AU+VIC+WA+NT+Guides:wght@200..400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@400..700&display=swap');

:root {
    --primary-color: #FFDD00;
    --secondary-color: #024897;
    --third-color: #ED1C24;
    --general-color:#FA9F42;
    --header-footer-font: 'ADLaM Display', cursive;
    --body-font: 'DM Sans', sans-serif;
    --text-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.yellow {
    background-color: var(--primary-color);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--header-footer-font);
    font-size: 1.5rem;
}

.blue {
    background-color: var(--secondary-color);
    height: 20px;
}

.red {
    background-color: var(--third-color);
    height: 20px;
}

picture {
  position: relative; 
}

picture img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(60%);
}

aside {
  position: absolute;
  top: 120px;
  right: 0;
  width: 30%;           
  height: 100%;          
  background-color: rgba(0, 0, 0, 0.3); 
  pointer-events: none;  
}


footer {
    background-color: var(--general-color);
    font-family: var(--header-footer-font);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    padding: 1rem;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80px;
}